
    <head>
        <title>My chat app</title>
        <link href="/public/styles.css" rel='stylesheet'>
    </head>
    <boby>
        <ul id="users"></ul>
        <ul id="messages"></ul>
        <p id="sendTo"></p>
        <form action="">
            <input id="m" autocomplete="off" type="text"><button>Send</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/public/bower_components/js-cookie/src/js.cookie.js"></script>
        <script>
            (function(){
                var name = Cookies.get('login'),
                    sendTo = false,
                    socket = io('/',{ query: "login=" + name });
                
                $('form').submit(function(){
                    if ($('#m').val()) {
                        socket.emit('chat message', $('#m').val(), sendTo);
                        $('#m').val('');
                    }
                    return false;
                });
                
                socket.on('chat message', function(name,id,msg,secret) {
                    $('#messages').append($('<li>').html('<span id="' + id.substr(2) + '">' + name + '</span>' + ': ' + msg).addClass(function(){
                        if (secret) {
                            sendTo = false;
                            $('#sendTo').text('');
                            return 'secret';
                        }
                    }));
                });
                
                socket.on('join',function(user,id){
                    $('#messages').append($('<li>').html(user +' joined the room'));
                    $('#users').append($('<li>').html(user).attr('id',id.substr(2)).click(function(){
                        sendTo = $(this).attr('id');
                        var name = $(this).text();
                        $('#sendTo').text('Send to ' + name);
                    }));
                });
                
                socket.on('users',function(names){
                    for (var key in names){
                        $('#users').append($('<li>').html(names[key]).attr('id',key.substr(2)).click(function(){
                            $('input').focus();
                            sendTo = $(this).attr('id');
                            var name = $(this).text();
                            $('#sendTo').text('Send to ' + name);
                        }));
                    }
                    console.log(names);
                });
                
                socket.on('left', function(user,id){
                    $('#messages').append($('<li>').text(user + ' left the room'));
                    $('#users #' + id.substr(2)).remove();
                });
                
            })();
        </script>
    </body>