
    <head>
        <title>My chat app</title>
        <link href="/public/styles.css" rel='stylesheet'>
    </head>
    <boby>
        <ul id="users"></ul>
        <ul id="messages"></ul>
        <p id="sendTo"></p>
        <form action="">
            <input id="m" autocomplete="off" type="text"><button>Send</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script src="/public/bower_components/js-cookie/src/js.cookie.js"></script>
        <script>
            (function(){
                var name = Cookies.get('login'),
                    sendTo = false,
                    socket = io('/',{ query: "login=" + name });
                
                $('form').submit(function(){
                    if ($('#m').val()) {
                        socket.emit('chat message', $('#m').val(), sendTo);
                        $('#m').val('');
                    }
                    return false;
                });
                
                socket.on('chat message', function(name,id,msg,secret) {
                    $('#messages').append($('<li>').html('<span>' + name + '</span>' + ': ' + msg).attr('data-socket',id.substr(2)).attr('data-name',name).click(msgTo).addClass(function(){
                        if (secret) {
                            sendTo = false;
                            $('#sendTo').text('');
                            return 'secret';
                        }
                    }));
                });
                
                socket.on('join',function(user,id){
                    msg(user +' joined the room');
                    $('#users').append($('<li>').html(user).attr('data-socket',id.substr(2)).attr('data-name',user).click(msgTo));
                });
                
                socket.on('users',function(names){
                    for (var key in names){
                        $('#users').append($('<li>').html(names[key]).attr('data-socket',key.substr(2)).attr('data-name',names[key]).click(msgTo));
                    }
                    console.log(names);
                });
                
                socket.on('left', function(user,id){
                    msg(user + ' left the room');
                    $('#users [data-socket=' + id.substr(2) + ']').remove();
                });
                
                function msgTo () {
                    $('input').focus();
                    sendTo = $(this).attr('data-socket');
                    var name = $(this).attr('data-name');
                    $('#sendTo').text('Send to ' + name);
                };
                
                function msg (text) {
                    return $('#messages').append($('<li>').html(text));
                };
                
            })();
        </script>
    </body>